
html{
    font-family: 'Montserrat', sans-serif;
    width: auto;
}
body{
    background-color: #FFD4D0;
    padding: 0px;
    margin: 0px;
}
a{
        text-decoration: none;
        color: inherit;
}

.mainheader{
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.h1Main{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.h2Main{
    font-size: 48px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
header p{
    text-transform: none;
}

.navegacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    width: 40%;
    
}

.navegacion a{
    color: black;
    font-weight: bold;
    font-size: 18px;
}

ul{
    list-style-type: none;
}

.redText{
    color: red;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.p-8{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.p-16{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.pl-8{
    padding-left: 16px;
}
.px-8{
    padding-left: 16px;
    padding-right: 16px;
}
.h2Header{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.pHeader{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    font-weight: 400;
}
.mainBtnSection{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.dl{

    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 8px;
}
.coreGrid{
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        padding: 16px;

}
.btnSquareSm{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btnSquareMd{
    padding-left:56px;
    padding-right: 56px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.bgBlack{
    background-color: black;
    color: white;
}
.bgWhite{
    background-color: white;
    color: black;
}
@media only (max-width: 768px) { 
    header{
        flex-direction: row;
    }
}