/***********SELECTORES*******************/
html{
    font-family: 'Montserrat', sans-serif;
    width: auto;
}
body{
    padding: 0px;
    margin: 0px;
}
a{
        text-decoration: none;
        color: inherit;
}
ul{
    list-style-type: none;
}

/***************CLASES*********************/
.flex-row{
    display: flex;
    flex-direction: row;
}

.justify-between{
    justify-content: space-between;
}

.p-8{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navegation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    width: 40%;
}

.navegation a{
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.margin-0{
    margin: 0px;
}
.pl-8{
    padding-left: 16px;
}

.btnSquareTalk{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.bgBlack{
    background-color: black;
    color: white;
}
.bgPink{
    background-color: #FFD4D0;
}

.header{
    width: auto;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
}

.header__h1{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.header__h2{
    font-size: 48px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
}

.header__leftPart{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 16px;
}
header p{
    text-transform: none;
}
.imgMain{
    margin-top: auto;
    width: 50%;
    object-fit: none;
    margin-right: auto;
    margin-left: auto;
    transition: all 1s ease-in-out;
}
.redText{
    color: red;
}

.flex-col{
    display: flex;
    flex-direction: column;
}


.px-8{
    padding-left: 16px;
    padding-right: 16px;
}
.h2Header{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.header_text{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    font-weight: 400;
}
.mainBtnSection{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.dl{

    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 8px;
}
.coreGrid{
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        padding: 16px;

}

.btnSquare{
    padding-left:56px;
    padding-right: 56px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.bgWhite{
    background-color: white;
    color: black;
}

.about{
    background-color: #1F1F1F;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
}
.about__info{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 10%;
    padding-top: 24px;
    padding-bottom: 24px;
}
.about__fact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__dt{
    margin-top: 72px;
    margin-inline-start: 0px;
    font-size: 18px;
    font-weight: 700;
}
.about__dd{
    margin-top: -84px;
    font-size: 64px;
    color: #FFD4D0;
    font-weight: 700;
    margin-inline-start: 0px;
}
.tittleSection{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.infoSection{
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 150%;
}

.services{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    padding-bottom: 48px;
}
.services__grid{
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.service__img{
    width: min-content;
}
.service__text{
    margin: 0px;
    font-size: 14px;
}
.service__tittle{
    font-size: 18px;
}
.portfolio{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 16px;
}
.portfolio__tittle{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    padding-left: 48px;
    padding-right: 48px;
}
.portfolio__info{
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 150%;
    padding-left: 48px;
    padding-right: 48px;
}
.portfolio__header{
    padding-bottom: 10%;
}
.portfolio_grid{
    margin-top: -10%;
    padding-inline-start: 0px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 10%;
    padding-left: 62px;
    padding-right: 62px;
}
.portfolio__app{
    padding: 16px;
}
.portfolio__img{
    min-width: 240px;
    width: 100%;
    height: min-content;
    align-items: end;
}
.portfolio__textImg{
    width: auto;
    margin-top: 8px;
    gap: 10px;
}
.portfolio__appDivImg{
    display: flex;
    align-items: end;
}
/*******MEDIAS****************/
@media only screen and (max-width: 768px) {
    .header{
        width: auto;
        flex-direction: column;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .imgMain{
        height: auto;
        width: 90%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
    }
    .header__leftPart{
        height: auto;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        margin-left: 0px;
        padding-bottom: 0px;
    }
    .mainBtnSection{
        justify-content: space-between;
        padding-top: 16px;
    }
    .navegation{
        display: none;
    }
    .header_text{
        padding-left: 16px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 768px) {
    .header{
        padding-left: 32px;
        padding-right: 32px;
    }
    .portfolio{
        padding-left: 32px;
        padding-right: 32px;
    }
    .imgMain{
        width: 50%;
        object-fit: fill;
        margin-top: unset;
    }
    .btnSquare{
        padding-left:32px;
        padding-right: 32px;
    }
    .navegation{
        width: 50%;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 1024px) {
    .imgMain{
        width: 50%;
        object-fit: fill;
    }
    .navegation a{
        font-size: 18px;
    }
    .navegation{
        width: 50%;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1300px) {
    .imgMain{
        object-fit: fill;
    }
    .navegation a{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1700px) {
    .navegation a{
        font-size: 24px;
    }
}
