/*se aplica a los elementos "a" cuyas paginas hayan sido ya visitadas que se encuentren dentro de aquellos que tengan la clase "tex-white"  */
.text-white a:visited{
    color:gray;
}
.padding{
    padding: 8px 36px 24px; /*arriba abajo (izquierda y derecha)*/ 
}

.padding2{
    padding: 8px 36px 8px 36px; /*arriba abajo (izquierda y derecha)*/ 
}

/*
BLOCK
ELEMENT block__xxx
MODIFIER block--xxx
*/
/* en un futuro se podrá utilizar
.product{
    &__title{
      ...
    }
    &__button{
      ...
    }
  }
  */ 
  body{
    margin: 0px;
    padding: 12px;
  }
  .product{
    background-color: #65dc9e;
    max-width:300px;
    padding: 12px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid ;
  box-shadow: 2px 2px 3px 1px #1c7949;
  }
  .product--dark{
    background-color: #1c7949;
  }
  .product__tittle{
    font-size: 40px;
    font-family: verdana, sans-serif;
    font-weight: normal;
    margin: 0px;
  }
  .product__price{
    background-color: #DC65A3;
    width: 50px;
    line-height: 50px; /*igual a la altura para que sea igual que el width*/
    text-align: center;
    font-size: 14.2px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    border-radius: 50%;
    margin-right: auto;
    padding: 3px;
    color: white;
    border: 2px dotted black;
    margin-top:4px;
    margin-bottom:4px;
  }
  
  .product__info{
    font-size: 14.2px;
      font-family: verdana, sans-serif;
    font-weight: normal;
    margin: 0px;
  }
  .imgProduct{
     max-width: 100%; /* para que no crezca la imagen más del tamaño original de la imagin 409px x 409px */
     object-fit: cover; 
     border-radius:4px;
      margin-bottom:4px;
  }
  .product__cta{
    
  }